#projetos {
    padding: 2rem 1rem;
}

.projetos-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    margin: 0 auto;
    width: 90vw;
}

.project {
    flex: 1 1 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    background-color: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(2px);
    border-radius: 1rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.07);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    transition: transform 0.2s ease;
    overflow: hidden;
    will-change: transform, box-shadow;
    z-index: 0;
}

.project * {
    position: relative;
    z-index: 1;
}


.project::before {
    content: "";
    position: absolute;
    top: -50%;
    left: -75%;
    width: 20%;
    height: 200%;
    background: linear-gradient(120deg,
            transparent 0%,
            rgba(123, 47, 247, 0.25) 40%,
            rgba(123, 47, 247, 0.5) 50%,
            rgba(41, 131, 240, 0.5) 55%,
            rgba(41, 131, 240, 0.25) 60%,
            transparent 100%);
    transform: skew(25deg);
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: -1;
}

.project:hover::before {
    opacity: 1;
    animation: shine-move 1.2s linear forwards;
}

.project:not(:hover)::before {
    opacity: 1;
    animation: shine-move-reverse 1.2s linear forwards;
}

.project .image {
    width: 100%;
    height: auto;
    display: block;
}

.stack {
    display: flex;
    gap: 0.4rem;
    justify-content: center;
    flex-wrap: wrap;
}

.stack img {
    width: 25px;
    transition: transform 0.4s ease;
}

.stack img:hover {
    transform: scale(1.2);
}

.project .subtitle {
    text-align: left;
    padding: 0 1rem;
    font-size: 1rem;
}

.project h2 {
    font-weight: 400;
    font-size: 1.5rem;
    margin: 0.5rem 0;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.3rem;
    margin: 1rem;
}

.button-content {
    display: flex;
    gap: 0.4rem;
    align-items: center;
    justify-content: center;
}

.buttons a {
    padding: 0.5rem 1rem;
    border-radius: 10px;
    text-decoration: none;
    font-weight: 400;
    text-align: center;
    transition: all 0.4s ease-in-out;
    flex: 1;
    font-size: 1rem;
}

#code {
    background-color: #42038f;
    color: white;
}

#code:hover {
    box-shadow: 0 0 25px #42038f;
    transform: scale(1.05);
}

#github {
    background-color: #000;
    color: white;
}

#github:hover {
    box-shadow: 0 0 25px rgba(255, 255, 255, 0.48);
    transform: scale(1.05);
}

/* Tablets (min 768px) - 2 cards por linha */
@media screen and (min-width: 768px) {
    .project {
        flex: 1 1 calc(50% - 2rem);
        max-width: 500px;
    }

    .stack img {
        width: 30px;
    }
}

/* Desktops (min 1100px) - 4 cards por linha */
@media screen and (min-width: 1100px) {
    .project {
        flex: 1 1 calc(25% - 2rem);
    }

    .stack img {
        width: 30px;
    }

    .project .subtitle {
        font-size: 0.9rem;
        padding: 0 1.5rem;
    }

    .buttons a {
        padding: 0.4rem 0.6rem;
        font-size: 0.8rem;
    }
}