/* Reset e base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    list-style: none;
    text-decoration: none;

}

:root {
    /* === Cores === */
    --cor-fundo: #000000;
    --cor-texto: #FFFFFF;

    /* === Tipografia === */
    --fonte-principal: 'Poppins', sans-serif;


    /* === Botões === */
    --botao-bg-primario: var(--cor-fundo);
    --botao-cor-texto: var(--cor-texto);
    --botao-fonte: var(--fonte-principal);
    --botao-padding: 10px 24px;
    --botao-borda-raio: 8px;
}

body {
    font-family: var(--fonte-principal);
    background-color: transparent;
    overflow-x: hidden;

}

/* Fundo animado (estrelas ou partículas) */
#particles-js {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: var(--cor-fundo);
}

#stars-js {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
    background-color: #010010;
}

#header {
    position: fixed;
    left: 50%;
    width: 100vw;
    transform: translateX(-50%);
    padding: 1.6rem;
    border-radius: 20px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(15px);
    background-color: rgba(255, 255, 255, 0.022);
    font-size: 1.4rem;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: centerz
}

/* Navegação */
#nav {
    display: flex;
    align-items: center;
    gap: 2rem;
    font-family: var(--fonte-principal);
}

/* Nav list base */
.nav-list {
    display: flex;
    align-items: center;
    gap: 2rem;
    list-style: none;
    padding-left: 0;
    margin: 0;
}

.nav-list li a {
    color: white;
    font-family: var(--fonte-principal);
    font-size: 1.2rem;
    cursor: pointer;
    display: block;
    padding: 0.5rem 0;
}

.nav-list li a:hover {
    background: linear-gradient(90deg, #7B2FF7, #2983f0);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* Botão hamburguer escondido no desktop */
#hamburger {
    display: none;
    background: transparent;
    border: none;
    font-size: 2.5rem;
    color: white;
    cursor: pointer;
    z-index: 10000;
}

/* Overlay para menu aberto */
#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    z-index: 9998;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
}

#overlay.active {
    opacity: 1;
    pointer-events: auto;
}

/* Hero */
#hero {
    height: 100vh;
    padding: 10rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    text-align: center;
    font-size: 2rem;
    color: #fff;
    font-family: var(--fonte-principal);
}

/* Títulos */
#hero h1 {
    font-size: 5rem;
    font-weight: 200;
    white-space: nowrap;
}

#hero #h2 {
    font-weight: 200;
}

.gradient-text {
    background: linear-gradient(90deg, #7B2FF7, #2c29ed);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 200;
}

/* Cursor piscando */
.cursor {
    display: inline-block;
    font-weight: 700;
    font-size: 3rem;
    color: #fff;
    margin-left: 3px;
    animation: blink 1s steps(2, start) infinite;
    user-select: none;
}

@keyframes blink {

    0%,
    50% {
        opacity: 1;
    }

    51%,
    100% {
        opacity: 0;
    }
}

/* Social Links */
.social-links {
    display: flex;
    gap: 2rem;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeUp 0.8s ease forwards;
    animation-delay: 0.5s;
    /* pequena pausa */
}

@keyframes fadeUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.social-links a img {
    transition: transform 0.3s ease;
}

.social-links a:hover img {
    transform: scale(1.2);
}


/* Título geral reutilizável */
#about {
    margin: 4rem;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10rem;

}

.about-card {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20rem;
}


.metricas {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding-bottom: 10px;
    width: 100%;
    gap: 20rem;
}

.metricas::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, #7B2FF7, #2983f0);
}

.data {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title {
    font-family: var(--fonte-principal);
    font-size: 2.8rem;
    text-align: center;
    margin-bottom: 2rem;
    font-weight: 300;
}

.subtitle {
    font-weight: 400;
    font-family: var(--fonte-principal);
}

#about .subtitle {
    width: 800px;
    font-size: 1.6rem;
    margin-left: 2rem;
}

.destaq {
    background: linear-gradient(90deg, #7B2FF7, #2983f0);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

#image {
    border-radius: 50%;
    background-image: url(images/profile.jpg);
    background-position: center center;
    background-size: cover;
    height: 500px;
    width: 500px;
    box-shadow: 0px 0px 100px #42038f;
    border: 1px solid white;
}

#techs {
    text-align: center;
    margin-left: 4rem;
    margin-right: 4rem;
    margin-bottom: 12rem;
}

#techs .title {
    font-size: 2.5rem;
    margin-bottom: 3rem;
}

.cards {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    /* padrão: 5 colunas */
    gap: 2rem;
    max-width: 900px;
    margin: 0 auto;
}

.card {
    padding: 2rem;
    backdrop-filter: blur(4px);
    border-radius: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease;
}

/* Conteúdo da card acima do ::before */
.card * {
    position: relative;
    z-index: 1;
}

.card:hover {
    transform: translateY(-4px);
    box-shadow: 0 0 20px rgba(123, 47, 247, 0.3),
        0 0 40px rgba(41, 131, 240, 0.2);
}

.card::before {
    content: "";
    position: absolute;
    top: -50%;
    left: -75%;
    width: 20%;
    height: 200%;
    background: linear-gradient(120deg,
            transparent 0%,
            rgba(123, 47, 247, 0.25) 40%,
            rgba(123, 47, 247, 0.5) 50%,
            rgba(41, 131, 240, 0.5) 55%,
            rgba(41, 131, 240, 0.25) 60%,
            transparent 100%);
    transform: skew(25deg);
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: -1;
}

/* Hover: reflexo vai da esquerda para direita */
.card:hover::before {
    opacity: 1;
    animation: shine-move 1.2s linear forwards;
}

/* Unhover: reflexo volta da direita para esquerda */
.card:not(:hover)::before {
    opacity: 1;
    animation: shine-move-reverse 1.2s linear forwards;
}

@keyframes shine-move {
    0% {
        left: -75%;
    }

    100% {
        left: 125%;
    }
}

@keyframes shine-move-reverse {
    0% {
        left: 125%;
    }

    100% {
        left: -75%;
    }
}

.card img {
    width: 80px;
}



.card h1 {
    font-size: 1.25rem;
    color: #ffffff;
    font-family: var(--fonte-principal);
    font-weight: 400;
}

#services {
    margin-bottom: 200px;
    margin: 1rem;
}

#services i {
    font-size: 50px;
    background: linear-gradient(90deg, #7B2FF7, #2983f0);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    display: inline-block;
}

.services-cards {
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.service-card {
    flex: 1 1 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    padding: 2rem;
    background-color: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(2px);
    border-radius: 2rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.07);
    text-align: left;
    width: 100%;
    max-width: 400px;
    min-height: 100%;
    position: relative;
    overflow: hidden;
    will-change: transform, box-shadow;
    transition: transform 0.3s ease-in-out;
    /* Removido box-shadow da transição para entrada instantânea */
}

.service-card:hover {
    transform: translateY(-4px);
    box-shadow: 0 0 20px rgba(123, 47, 247, 0.3),
        0 0 40px rgba(41, 131, 240, 0.2);
}

.service-card::before {
    content: "";
    position: absolute;
    top: -50%;
    left: -75%;
    width: 20%;
    height: 200%;
    background: linear-gradient(120deg,
            transparent 0%,
            rgba(123, 47, 247, 0.25) 40%,
            rgba(123, 47, 247, 0.5) 50%,
            rgba(41, 131, 240, 0.5) 55%,
            rgba(41, 131, 240, 0.25) 60%,
            transparent 100%);
    transform: skew(25deg);
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    z-index: -1;
}

/* Hover: brilho anima da esquerda para a direita */
.service-card:hover::before {
    opacity: 1;
    animation: shine-move 1.2s linear forwards;
    top: -50%;
    /* posicionamento inicial */
}

/* Unhover: brilho anima da direita para a esquerda (volta) */
.service-card:not(:hover)::before {
    opacity: 1;
    animation: shine-move-reverse 1.2s linear forwards;
    top: -50%;
    /* mesma posição inicial para a reversa */
}

/* Animação normal: brilho vai da esquerda para direita */
@keyframes shine-move {
    0% {
        left: -75%;
        opacity: 0.8;
    }

    50% {
        opacity: 1;
    }

    100% {
        left: 125%;
        opacity: 0;
    }
}

/* Animação reversa: brilho vai da direita para esquerda */
@keyframes shine-move-reverse {
    0% {
        left: 125%;
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        left: -75%;
        opacity: 0.8;
    }
}



.service-card__title {
    background: linear-gradient(90deg, #7B2FF7, #2983f0);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.6rem;
    font-family: var(--fonte-principal);
    font-weight: 400;
}

.service-card__description {
    font-size: 1.2rem;
    font-family: var(--fonte-secundaria);
}

.service-card__list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.service-card__list-item {
    font-family: var(--fonte-secundaria);
}

.projetos-cards {
    display: flex;
    align-items: stretch;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.buttons {
    gap: .3rem;
    margin: 0;
}


.buttons a {
    padding: 0.5rem 1.2rem;
    font-size: 1rem;
}

.project {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    background-color: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(2px);
    border-radius: 2rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.07);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    transition: transform 0.2s ease;
    margin-bottom: 100px;
    width: 100%;
    max-width: 400px;
    overflow: hidden;
    will-change: transform, box-shadow;
    z-index: 0;
}


.project * {
    position: relative;
    z-index: 1;
}

.project:hover {
    transform: translateY(-4px);
    box-shadow: 0 0 20px rgba(123, 47, 247, 0.3),
        0 0 40px rgba(41, 131, 240, 0.2);
}

.project::before {
    content: "";
    position: absolute;
    top: -50%;
    left: -75%;
    width: 20%;
    height: 200%;
    background: linear-gradient(120deg,
            transparent 0%,
            rgba(123, 47, 247, 0.25) 40%,
            rgba(123, 47, 247, 0.5) 50%,
            rgba(41, 131, 240, 0.5) 55%,
            rgba(41, 131, 240, 0.25) 60%,
            transparent 100%);
    transform: skew(25deg);
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: -1;
}

.project:hover::before {
    opacity: 1;
    animation: shine-move 1.2s linear forwards;
    top: -50%;
    /* começa em cima */
}

.project:not(:hover)::before {
    opacity: 1;
    animation: shine-move-reverse 1.2s linear forwards;
    top: 20%;
}

@keyframes shine-move {
    0% {
        left: -75%;
        top: 20%;
        opacity: 0.8;
    }

    50% {
        opacity: 1;
    }

    100% {
        left: 125%;
        top: -50%;
        opacity: 0;
    }
}

@keyframes shine-move-reverse {
    0% {
        left: 125%;
        top: -50%;
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        left: -75%;
        top: 20%;
        opacity: 0.8;
    }
}

.project .image {
    width: 100%;
    height: auto;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    display: block;
    position: relative;
    z-index: 1;

}


.stack img {
    width: 35px;
}

.stack {
    display: flex;
    gap: .5rem;
    justify-content: center;
}

.stack img:hover {
    transition: .4s;
    transform: scale(1.2);
}

.project .subtitle {
    text-align: left;
    font-family: var(--fonte-principal);
    font-weight: 400;
    padding: 0 2rem;
    font-size: 1rem;
}

.project h2 {
    font-weight: 400;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    margin: 0 2rem;
}

.button-content {
    display: flex;
    gap: .4rem;
    align-items: center;
    justify-content: center;
}

.buttons a {
    padding: 0.7rem 1.6rem;
    border-radius: 10px;
    margin-bottom: 1rem;
    text-decoration: none;
    font-weight: 400;
    text-align: center;
    transition: 0.4s ease-in-out;
    flex: 1;
    font-size: 1.3rem;
}


#code {
    background-color: #42038f;
    color: white;
}

#code:hover {
    box-shadow: 0 0 25px #42038f;
    transform: scale(1.05);
}


#github {
    background-color: #000;
    color: white;
}

#github:hover {
    box-shadow: 0 0 25px #ffffff7a;
    transform: scale(1.05);
}




.animate {
    opacity: 0;
    transform: translateY(120px);
    transition: all 2s cubic-bezier(0.22, 1, 0.36, 1);
    will-change: opacity, transform;
}

.animate.show {
    opacity: 1;
    transform: none;
}

/* Fade específico */
.fade-up {
    transform: translateY(120px);
}

.fade-left {
    transform: translateX(-120px);
}

.fade-right {
    transform: translateX(120px);
}

.zoom-in {
    transform: scale(0.7);
}

.fade-up.show,
.fade-left.show,
.fade-right.show,
.zoom-in.show {
    transform: none;
    opacity: 1;
}

/* Staggered delay */
[data-delay] {
    transition-delay: var(--delay, 0s);
}

.data .destaq {
    font-size: 4rem;
}

footer {
    padding: 1.6rem;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(15px);
    background-color: rgba(255, 255, 255, 0.022);
    text-align: center;
}

#hamburger {
    display: none;

    .buttons {
        gap: .3rem;
        margin: 0;
    }


    .buttons a {
        padding: 0.5rem 1.2rem;
        font-size: 1rem;
    }

    background: transparent;
    border: none;
    font-size: 2.5rem;
    color: white;
    cursor: pointer;
    z-index: 10000;
    text-align: center;
}

#contato {
    text-align: center;
    font-size: 1.3rem;
}

.contato-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#contact-form {
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: column;
    gap: 2rem;
    padding: 1.6rem;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(15px);
    background-color: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(2px);
    border-radius: 2rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.07);
    margin: 1rem;
    width: 40%;
    border-radius: 1rem;
}

::placeholder {
    color: white;
}

#contact-form input,
#contact-form button,
#contact-form textarea {
    padding: 0.8rem;
    font-size: 1.5rem;
    font-family: var(--fonte-principal);
    width: 100%;
    color: white;
    background-color: transparent;
    border-radius: 0.4rem;
    border: 2px solid #42038f;
    transition: ease-in-out .4s;
    resize: none;
}

textarea {
    height: 150px;
}

/* Efeito ao focar (opcional) */
#contact-form input:focus,
#contact-form textarea:focus,
#contact-form button:hover {
    box-shadow: 0 0 110px 5px #7B2FF7aa;
}

@media screen and (max-width: 1024px) {
    #about {
        margin: 3rem 1rem;
        height: auto;
        gap: 2rem;
    }

    .about-card {
        gap: 1rem;
    }

    #image {
        width: 330px;
        height: 330px;
        margin: 0 auto;
    }

    #about .subtitle {
        width: 60%;
        font-size: 1.4rem;
        margin-left: 0;
    }

    .metricas {
        gap: 10rem;
    }

    .data p {
        font-size: 1.3rem;
    }

    .data .destaq {
        font-size: 4rem;
    }

    .services-cards {
        gap: 2rem;
    }

    .services-cards .service-card:nth-child(3) {
        flex-basis: 81%;
        max-width: 81%;
    }


    #projetos {
        margin: 1rem;
    }


}

@media screen and (max-width: 992px) {
    #header {
        width: 100vw;
        padding: 1rem 1.5rem;
    }

    #hero {
        padding: 8rem 1.5rem;
    }

    #hero h1 {
        font-size: 3.5rem;
        white-space: normal;
    }

    #hero #h2 {
        font-size: 3rem;
    }

    .gradient-text {
        font-size: 3rem;
    }

    #about {
        margin: 2rem 1rem;
        height: auto;
        gap: 2rem;
    }

    .about-card {
        gap: 1rem;
    }

    .metricas {
        gap: 10rem;
    }

    .data p {
        font-size: 1rem;
    }

    .data .destaq {
        font-size: 3rem;
    }

    .services-cards .service-card:nth-child(3) {
        flex-basis: 100%;
        max-width: 100%;
    }

    .services-cards {
        gap: 1.6rem;
        margin: 0 2rem;
    }

    .services-cards .service-card:nth-child(3) {
        flex-basis: 80%;
        max-width: 100%;
    }

    #about .subtitle {
        width: 60%;
        font-size: 1.2rem;
        margin-left: 0;
    }

    #image {
        width: 300px;
        height: 300px;
        margin: 0 auto;
    }

    #techs {
        margin: 2rem 1rem 8rem 1rem;
        padding: 2rem 1rem;
    }

    #techs .title {
        font-size: 2rem;
        margin-bottom: 2rem;
    }

    .cards {
        gap: 1rem;
    }

    #projetos {
        margin: 1rem;
    }


    .project .image {
        border-radius: 0;
    }

    .project {
        width: 100%;
        max-width: 400px;
        margin-bottom: 0;

    }

    .project .subtitle {
        font-size: 1.2rem;
        padding: 0 1rem;
    }

    .buttons {
        gap: .6rem;
        margin: 1rem;
    }

    .buttons a {
        padding: 0.5rem 1.2rem;
        font-size: 1.3rem;
    }

    #contact-form {
        width: 80%;
    }

}

/* Mobile (telas até 768px) */
@media screen and (max-width: 768px) {

    /* Mostrar botão hamburguer */
    #hamburger {
        display: block;
    }

    /* Ajustar header para flex-start e mais largura */
    #header {
        width: 100vw;
        left: 0;
        transform: none;
        padding: 1rem 1.5rem;
        justify-content: flex-start;
        border-radius: 0 0 20px 20px;
        backdrop-filter: blur(8px);
        -webkit-backdrop-filter: blur(20px);
    }

    /* Menu oculto por padrão */
    .nav-list {
        position: fixed;
        top: 0;
        right: 0;
        height: 100vh;
        width: 70vw;
        max-width: 320px;
        background-color: var(--cor-fundo);
        flex-direction: column;
        align-items: flex-start;
        padding: 4rem 2rem;
        gap: 1.5rem;
        transform: translateX(100%);
        transition: transform 0.3s ease;
        box-shadow: -4px 0 12px rgba(0, 0, 0, 0.7);
        z-index: 9999;
    }

    /* Menu aberto */
    .nav-list.open {
        transform: translateX(0);
    }

    /* Itens do menu */
    .nav-list li {
        width: 100%;
    }

    .nav-list li a {
        font-size: 1.5rem;
        width: 100%;
        padding: 1rem 0;
        display: block;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    }

    /* Ajuste geral dos títulos e textos para telas pequenas */
    #hero {
        font-size: 1.4rem;
        padding: 6rem 1rem;
    }

    #hero h1 {
        font-size: 3.6rem;
        white-space: normal;
    }

    #hero #h2 {
        font-size: 3rem;
    }

    .gradient-text {
        font-size: 3rem;
    }

    .social-links a img {
        width: 70px;

    }


    .about-card {
        flex-direction: column;
        gap: 4rem;
    }

    #about .subtitle {
        font-size: 1.6rem;

    }

    .metricas {
        margin-top: 2rem;
        gap: 7rem;
    }

    .data {
        align-items: center;
    }

    .data .destaq {
        font-size: 3rem;
    }

    .data p {
        font-size: 1rem;
    }

    #image {
        width: 450px;
        height: 450px;
        margin: 0 auto;
    }



    .services-cards {
        gap: 1.6rem;
        margin: 0 1rem;
    }

    .service-card {
        max-width: 380px;
    }

    .service-card__list-item {
        font-size: 1.2rem;
    }

    .stack {
        gap: 1rem;
    }

    .stack img {
        width: 45px;
    }

    .project h2 {
        font-size: 2rem;
    }

    .project .subtitle {
        padding: 0;
        font-size: 1.3rem;
    }

    .projetos-cards {
        display: flex;
    }

    .project {
        max-width: 600px;
    }

    .project .image {
        border-radius: 1rem;
    }

    #services i {
        font-size: 50px;
    }


    .buttons {
        gap: .6rem;
        margin: 0;
    }


    .buttons a {
        padding: 0.8rem 1.2rem;
        font-size: 1.3rem;
    }

    #contato p {
        font-size: 1.4rem;
        margin: 0 4rem;
    }

    #contact-form {
        width: 80%;
    }

}

@media screen and (max-width:600px) {
    #about {
        margin: 1rem;
    }

    .about-card {
        flex-direction: column;
        gap: 4rem;
    }

    #about .subtitle {
        font-size: 1.2rem;
        width: 90%;
    }

    .metricas {
        margin-top: 2rem;
        gap: 1rem;
    }

    .data {
        align-items: start;
    }

    .data .destaq {
        font-size: 2rem;
    }

    .data p {
        font-size: .8rem;
    }


    #hero h1 {
        font-size: 2.3rem;
        white-space: normal;
    }

    #hero #h2 {
        font-size: 1.8rem;
    }


    .gradient-text {
        font-size: 1.8rem;
    }

    .cursor {
        font-size: 1.5rem
    }

    #image {
        width: 250px;
        height: 250px;
        margin: 0 auto;
    }

    .service-card {
        padding: 1rem;
        max-width: 300px;
    }

    .service-card__title {
        font-size: 1.2rem;
    }

    .service-card__description {
        font-size: 1rem;
    }

    .service-card__list-item {
        font-size: .8rem;
    }

    .services-cards .service-card:nth-child(3),
    .service-card:nth-child(2),
    .service-card:nth-child(1) {
        flex-basis: 85%;
        max-width: 85%;
    }

    #services i {
        font-size: 40px;
    }

    .cards {
        grid-template-columns: repeat(3, 1fr);
        /* entre 401px e 600px */
    }

    .stack img {
        width: 30px;
    }

    .project .subtitle {
        padding: 0 1rem;
        font-size: 1rem;
    }

    .buttons {
        gap: .3rem;
        margin: 1rem;
    }


    .buttons a {
        padding: 0.5rem 1.2rem;
        font-size: 1rem;
    }

    #contato p {
        font-size: 1rem;
        margin: 1rem;
    }

    #contact-form h1 {
        font-size: 1.4rem;
    }


    #contact-form input,
    #contact-form button,
    #contact-form textarea {
        font-size: 1rem;
    }

    .social-links a img {
        width: 50px;
    }

}

@media (max-width: 400px) {
    .cards {
        grid-template-columns: repeat(2, 1fr);
        /* até 400px */
    }

    #about .subtitle {
        font-size: 1rem;
        width: 100%;
    }

    .stack img {
        width: 30px;
    }

    .stack {
        gap: .4rem;
    }

}